body {
  background-color: black;
  margin: 0;
}

p {
  background-color: black;
  color: white;
  display: inline-flex;
  font-size: 50px;
  justify-content: center;
  height: 70px;
  width: 200px;
  padding-left: 500px;
  padding-top: 500px;
}
